$glow: #298fa3;
$background: #232323;

.hidden {
    display: none;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vmax;
    padding: 2vh;
}

.logo-background {
    background: black;
    animation: fadeToGray 1s ease 1.9s forwards;
    margin-bottom: 0 !important;

    z-index: 0;
}

.cls-1, .cls-2 {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
}

.cls-1 {
    stroke-width: 3px;
}

.cls-2 {
    stroke-width: 40px;
}

#support_left {
    stroke: white;
    stroke-dasharray: 417;
    stroke-dashoffset: 417;
    animation: dash 0.2s linear 1.5s forwards;
}

#support_right {
    stroke: white;
    stroke-dasharray: 417;
    stroke-dashoffset: 417;
    animation: dash 0.2s linear 1.5s forwards;
}

#inventive {
    fill: white;
    opacity: 0;
    animation: fadeIn 0.6s ease 1.7s forwards;
}

#lightbulb {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;

    animation-name: pulse-start, pulse;
    animation-duration: 0.5s, 2s;
    animation-delay: 1.7s, 2.2s;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
    animation-timing-function: ease-in-out, ease-in-out;
}

@keyframes pulse-start {
    0% {
        filter: none;
    }
    20% {
        filter: drop-shadow(1px 1px 100px $glow);
    }
    100% {
        filter: drop-shadow(1px 1px 30px $glow);
    }
}

@keyframes pulse {
    0% {
        filter: drop-shadow(1px 1px 30px $glow);
    }
    100% {
        filter: drop-shadow(1px 1px 5px $glow);
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeToGray {
    0% {
        background: black;
    }
    50% {
        background: gray;
    }
    100% {
        background: $background;
    }
}

.separator {
    display: block;
    margin-left: -10%;
    margin-right: -10%;
    margin-top: -0.1%;
}

.separator_line {
    stroke: white;
}

#separator_line {
    stroke-dasharray: 1024;
    stroke-dashoffset: 1024;
    stroke-width: 2;
    animation: dash 1s ease 1s forwards;
}
